<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AskGromyko</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <style>
        a {
            text-decoration: none;
            /* Убираем подчеркивание */
            color: rgb(82, 77, 77);
        }

        a:hover {
            color: red;
        }

        .navbar-brand {
            font-size: 36px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid container-lg">

            <a class="navbar-brand">AskGromyko</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>

            <div class="d-flex justify-content-between gap-3">
                <div class="border">
                    <img src="../../static/img/avatar.jpg" width="50" height="65">
                </div>
                <div class="d-flex flex-column gap-3">
                    <div>Grisha</div>
                    <div>
                        <a href="/settings.html">Settings</a>
                        <a href="/logout.html">Log out</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <main class="container-fluid container-lg mt-3">

    </main>

    <footer class="fixed-bottom p-3 bg-light">
        <div class="container">
            <div class="text-center">
                <span class="text-muted">Gromyko & Company</span>
            </div>
        </div>
    </footer>

</body>

</html>