{% load static %}

<article class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-2 p-2">
            <div class="border mb-2">
                <img src="{% static "img/red_dinosaur.jpg" %}" class="img-fluid rounded-start" alt="user-avatar">
            </div>


        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "question" question.id %}">{{ question.title }}</a>
                </h5>
                <hr>   
                <p class="card-text">{{ question.body|truncatechars:200 }}</p>
                <div class="row mb-4"> </div>
                <div class="row">
                    <a class="col-3" href="{% url "question" question.id %}">Answer ({{ question.answer_set.count }})</a>
                    <div class="col-5">
                        <ul class="list-group list-group-horizontal">
                            <span>Tags</span>
                              <div class="list-group">
                                {% for tags in question.tags.all %}
                                <span class="badge"><a href="{% url 'show_tag' tags.title %}">{{ tags.title }}</a></span>
                                  {% cycle "" "" "</div><div class='list-group'>" %}
                                {% endfor %}
                              </div>
                              
                        </ul>
                    </div>
                    <div class="question-rating">
                        <div class="btn-group" role="group" aria-label="Vertical button group">
                          <button type="button" class="btn btn-outline-secondary"><img src="{% static "svg/like.svg" %}" alt="down-vote"/></button>
                          <button type="button" class="btn btn-outline-secondary disabled">{{ question.get_rating }}</button>
                          <button type="button" class="btn btn-outline-secondary"><img src="{% static "svg/dislike.svg" %}" alt="down-vote"/></button>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</article>