{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="d-flex gap-3 align-items-center">
    <h1>New Question</h1>
</div>


                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row" class="col-1">Title</th>
                            <td> <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                    placeholder="Enter title here"></textarea></td>
                        </tr>
                        <tr>
                            <th scope="row">Text</th>
                            <td> <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                                    placeholder="Enter your question here"></textarea></td>
                        </tr>
                        <tr>
                            <th scope="row">Tags</th>
                            <td> <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                    placeholder="Enter tags here"></textarea></td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-danger">
                    Answer
                </button>


{% endblock %}