{% extends "layouts/base_not_login.html" %}
{% load static %}

{% block content %}

<div class="d-flex gap-3 align-items-center">
<h1>Log In</h1>
</div>

<div class="alert alert-danger col-3" role="alert">
Sorry, wrong password!
</div>

<table class="table table-borderless">
    <tbody>
        <tr>
            <th scope="row" class="col-1">Login</th>
            <td><input type="email" class="form-control" id="floatingEmail"
                    placeholder="Enter your login here">
            </td>

        </tr>
        <tr>
            <th scope="row">Password</th>
            <td> <input type="password" class="form-control" id="floatingPassword"
                    placeholder="Enter your password here">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>
                <button type="button" class="btn btn-danger">
                    Log in
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>
                <a href="{% url "signup" %}">Create new account</a>
            </td>
        </tr>
    </tbody>
</table>



{% endblock %}